* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
  background-color: lightslategrey;
}

.gifs {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}

.gif {
  padding: 0 2px;
}

.gif > img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.loader {
  color: black;
}
input[type="text"] {

  background-color: #ECF0F1;
  border: none; 

}

.main-container{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}